@import "tailwindcss";

html, body {
    overflow-x: hidden;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar-nav .nav-link {
    clip-path: polygon(14px 0, 100% 0, calc(100% - 14px) 100%, 0 100%);
    background: linear-gradient(#2f8f52, #3ba066 ) no-repeat;
    background-size: 0% 100%;
    color: #fff !important;
    width: 140px;
    padding: 10px 0;
    margin: 0px 8px;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-size 0.35s ease;
}

@media (max-width: 1399.98px) {
    .navbar-nav .nav-link {
        transition: background-size 0.1s ease;
        margin-top: 4px;
    }
}

.navbar-nav .nav-link:hover {
    background-size: 100% 100%;
}

.navbar-nav .register-link {
    background-color: #f4f4f2;
    color: #1db954 !important;
}

.navbar-nav .register-link:hover {
    color: #fff !important;
}

.navbar-nav .login-link {
    background-color: #3ba066 !important;
    color: white !important;
}

.navbar-nav .login-link:hover {
    background-color: white !important;
    color: #3ba066 !important;
}

.navbar-toggler {
    border-color: #3ba066;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%233ba066' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 1400px) {
    .navbar-collapse .navbar-nav {
        flex-direction: row;
        justify-content: center;
        width: auto;
    }

    .navbar-collapse.d-xxl-flex {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 100% !important;
    }

}

.hero-video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
}

.hero-video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}